<% content_for :head do %>
  <script type="text/javascript">
    $( document ).ready(function() {
      $('textarea').keyup(function () {
        var str = 140 - $(this).val().length + " characters left";
        $('#post_length').text(str);
      }).keyup();
    })
  </script>
<% end %>

<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/micropost_form' %>
    </section>
  </aside>
  <div class="span8">
    <h3>Micropost Feed</h3>
    <%= render 'shared/feed' %>
  </div>
</div>
